:root {
  --app-background-color: #263137;
  --bg-color: #101214;
  --bgt-color: rgba(255, 255, 255, 0.08);
  --sidebar: #181b1f;
  --font-color: #9f9f9f;
  --sec-font-color: #e6e6e6;
  --primary-color: #87e9b5;
  --border-color: #2b2f35;
  --card-bg-color: #202328;
  --gradient-left: #252a30;
  --gradient-right: #1b1f24;
  --active-bg-color: #2e343b;
  --color-light: hsl(210, 15%, 20%);
  --darker-bg: hsl(210, 20%, 15%);
  --green: #81c784;
  --red: rgb(155 28 28);
  --red-bg: rgba(155, 28, 28, 0.169);
  --blue-bg: rgba(45, 28, 155, 0.169);
  --bs-secondary-color: #bbb;
  --bs-success-rgb: 0, 161, 134;
  --bs-text-opacity: 1;
  --bs-warning-rgb: 255, 193, 7;
  --bs-bg-opacity: 0.15;
  --bs-border-opacity: 0.25;
  --bs-secondary-rgb: 134, 147, 157;
}

[theme='dark'] {
  --app-background-color: #263137;
  --bg-color: #0d0f12;
  --bgt-color: rgba(25, 28, 30, 0.7);
  --sidebar: #181b1f;
  --font-color: #9f9f9f;
  --sec-font-color: #e6e6e6;
  --primary-color: #2cbe8c;
  --active-primary-color: #3da6f0;
  --border-color: #263238;
  --card-bg-color: #0d0f12;
  --gradient-left: #14191f;
  --gradient-right: #101317;
  --active-bg-color: #263238;
  --bubble-font-color: #191c1e;
  --color-light: #0d0f12;
  --darker-bg: hsl(210, 10%, 12%);
  --green: #21c187;
  --red: #f04832;
  --red-bg: #e93d2715;
  --blue-bg: #272de915;
  --highlight: #03a9f4;
  --overview-bg: #04251385;
  --card-bg: #101416;
  --bgl-color: #101216;
  --search-color: rgb(21 48 34 / 98%);
}

[theme='light'] {
  --app-background-color: #263137;
  --bg-color: #fff;
  --bgt-color: rgba(255, 255, 255, 0.7);
  --sidebar: #fff;
  --font-color: rgb(74, 85, 104);
  --sec-font-color: rgb(26, 32, 44);
  --primary-color: #3ca38b;
  --active-primary-color: #3d9ff0;
  --border-color: #cccccc;
  --card-bg-color: #fff;
  --gradient-left: #ffffff;
  --gradient-right: #dee4e7;
  --active-bg-color: #cccccc;
  --bubble-font-color: #191c1e;
  --color-light: hsl(0, 0%, 98%);
  --darker-bg: hsl(0, 0%, 95%);
  --green: #81c784;
  --red: rgb(155 28 28);
  --red-bg: rgba(155, 28, 28, 0.169);
  --blue-bg: rgba(45, 28, 155, 0.169);
  --highlight: #03a9f4;
  --bs-secondary-color: #6c757d;
  --overview-bg: #42ae95;
  --card-bg: #f8f8f8;
  --bgl-color: #f2f2f2;
  --search-color: rgb(66 174 149);
}

[theme='BlueElectra'] {
  --app-background-color: #263137;
  --bg-color: #1c242b;
  --bgt-color: rgba(25, 28, 30, 0.7);
  --sidebar: #181b1f;
  --font-color: #9bb2ba;
  --sec-font-color: #e6e6e6;
  --primary-color: #2cbe8c;
  --active-primary-color: #3da6f0;
  --border-color: #323e47;
  --card-bg-color: #1c242b;
  --gradient-left: #151b1f;
  --gradient-right: #151b1f;
  --active-bg-color: #263238;
  --bubble-font-color: #191c1e;
  --color-light: #151b1f;
  --darker-bg: hsl(210, 10%, 12%);
  --green: #21c187;
  --red: #f04832;
  --red-bg: #e93d2715;
  --blue-bg: #272de915;
  --highlight: #03a9f4;
  --overview-bg: #04251385;
  --card-bg: #242f38;
  --bgl-color: #1f272e;
  --search-color: rgb(29 51 43);
}
