@font-face {
    font-family: 'ProductSans';
    font-weight: 100 1000;
    font-stretch: 25% 151%;
    font-style: normal;
    src: url("~assets/fonts/Product-Sans/Product Sans Regular.ttf") format('truetype');
}
@font-face {
    font-family: 'ProductSans';
    font-weight: bold;
    font-style: normal;
    src: url("~assets/fonts/Product-Sans/Product Sans Bold.ttf") format('truetype');
}
