// Roboto Mono
@font-face {
  font-family: 'Roboto Mono';
  font-weight: normal;
  src: url('~assets/fonts/RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-weight: 500;
  src: url('~assets/fonts/RobotoMono-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-weight: bold;
  src: url('~assets/fonts/RobotoMono-Bold.ttf') format('truetype');
}

// Product Sans
@font-face {
  font-family: 'ProductSans';
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  font-style: normal;
  src: url('~assets/fonts/Product-Sans/Product Sans Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'ProductSans';
  font-weight: bold;
  font-style: normal;
  src: url('~assets/fonts/Product-Sans/Product Sans Bold.ttf')
    format('truetype');
}

// Roboto
@font-face {
  font-family: 'Roboto';
  src: url('~assets/fonts/Roboto/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src: url('~assets/fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('~assets/fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('~assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('~assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url('~assets/fonts/Roboto/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
}

// Exo 2
@font-face {
  font-family: 'Exo 2';
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  src: url('~/assets/fonts/Exo-2/Exo2-VariableFont_wght.ttf') format('truetype');
}
