@font-face {
  font-family: 'Roboto Mono';
  font-weight: normal;
  src: url('~assets/fonts/RobotoMono-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-weight: 500;
  src: url('~assets/fonts/RobotoMono-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-weight: bold;
  src: url('~assets/fonts/RobotoMono-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'ProductSans';
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  font-style: normal;
  src: url('~assets/fonts/Product-Sans/Product Sans Regular.ttf')
    format('truetype');
}
@font-face {
  font-family: 'ProductSans';
  font-weight: bold;
  font-style: normal;
  src: url('~assets/fonts/Product-Sans/Product Sans Bold.ttf')
    format('truetype');
}
@font-face {
  font-family: 'ProductSans';
  font-weight: bold;
  font-style: italic;
  src: url('~assets/fonts/Product-Sans/Product Sans Bold Italic.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Exo 2';
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  src: url('~/assets/fonts/Exo-2/Exo2-VariableFont_wght.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
