@import './base';
@import './typography';
@import './utilities';
@import './cards';
@import './tables';
@import './navigation';
@import './icons';
@import './buttons';
@import './bubbles';
@import './tooltip';
@import './pagination';
@import './spinners';

//global styles
.info-hr {
  border: none;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: $space-16;
}

.no-min {
  min-height: auto !important;
}

.hoverable {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    fill: var(--primary-color);
    color: var(--primary-color);
  }
}

.external-link {
  display: flex;
  align-items: center;
  gap: 5px;

  .asset-icon {
    fill: currentColor;
    width: 0.7rem;
    height: 0.7rem;
  }
}

.clickable {
  text-decoration: none;
  color: var(--primary-color);
  cursor: pointer;

  &.danger {
    color: var(--sec-font-color);
  }

  &:hover {
    color: var(--active-primary-color);
  }
}

.not-clickable {
  color: var(--sec-font-color);
  cursor: initial;
}

.custom-popover {
  padding: $space-14;
  margin: $space-14;
  background-color: var(--card-bg-color) !important;
  border: 1px solid var(--border-color) !important;
  border-radius: $radius-s;
  font-size: $font-size-sm;

  .key {
    word-break: keep-all;
    white-space: nowrap;
  }
}

.chart-inner-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include lg {
    flex-direction: row;
  }

  > div {
    @include lg {
      width: calc(50% - 10px);
    }
  }
}

.header {
  display: flex;
  align-items: center;
}

.cell-content {
  display: flex;
  align-items: center;
}