@import './normalize.css'; // normalize css for cross-browser integrations
@import 'font'; //applications font-face
@import 'breakpoints';
@import './variables.scss';

* {
  box-sizing: border-box;
}

html,
body,
#__nuxt,
#__layout,
main {
  font-size: $font-size-desktop; //root font-size
}

body {
  background: linear-gradient(
    to left top,
    var(--gradient-left) 0% /*bottom-right color*/,
    var(--gradient-right) 100% /*top-left color*/
  );
  font-family:
    'Montserrat',
    sans-serif,
    system-ui,
    -apple-system,
    'Segoe UI',
    'Helvetica Neue',
    'Noto Sans',
    'Liberation Sans',
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
  font-style: normal;
  font-optical-sizing: auto;
  color: var(--font-color);
  background-color: var(--bg-color);
}

input {
  border: none !important;
  padding: $space-12;
  color: #fff;

  &:focus,
  &:active {
    border: none;
    box-shadow: none !important;
    outline: var(--font-color) solid 2px;
  }
}

.mono {
  font-family: 'Roboto Mono' !important;
}

.center {
  text-align: center !important;
}

.nav-popover {
  display: none;
}

@media (max-width: 1580px) {
  .last-nav-popover {
    left: -50px !important;
  }
}

@include lg {
  .nav-popover {
    display: block;
  }

  .submenu {
    display: block;
    background-color: var(--card-bg-color);
    border-radius: 0 0 $radius-lg $radius-lg;
    z-index: 1000;
    padding: $space-8 $space-5;
    min-width: 9rem;
    border-top: var(--primary-color) 2px solid;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    position: relative;
    top: 0.75rem;
    animation: slideDown 0.3s ease forwards;

    @keyframes slideDown {
      0% {
        opacity: 0;
        transform: translateY(-20px);
      }

      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .submenu-item {
    font-size: $font-size-s;
    display: block;
    padding: $space-12;
    white-space: nowrap;
    text-decoration: none;
    color: var(--sec-font-color);
    margin-top: $space-5;

    &.active,
    &.nuxt-link-exact-active {
      border-radius: $radius-s;
      color: var(--primary-color);
    }

    &:hover {
      background-color: var(--darker-bg);
      border-radius: $radius-s;
      color: var(--primary-color);
    }
  }
}

.header-icon {
  margin-left: $space-5;
  height: 1rem;
  width: 1rem;
  fill: #606266;
}

.table-asset {
  display: flex;
  align-items: center;
  justify-content: center;

  &.end {
    justify-content: end;
  }
}

.custom-popover {
  padding: $space-14;
  margin: $space-14;
  background-color: var(--card-bg-color) !important;
  border: 1px solid var(--border-color) !important;
  border-radius: $radius-s;
  font-size: $font-size-sm;

  .key {
    word-break: keep-all;
    white-space: nowrap;
  }
}

.clickable {
  text-decoration: none;
  color: var(--primary-color);
  cursor: pointer;

  &.danger {
    color: var(--sec-font-color);
  }

  &:hover {
    color: var(--active-primary-color);
  }
}

.sec-color {
  color: var(--sec-font-color);
}

.not-clickable {
  color: var(--sec-font-color);
  cursor: initial;
}

.notify-card {
  margin: auto;
  display: flex;
  align-items: center;
  min-height: 300px;
  flex-direction: column;

  &.card-bg {
    border: 1px solid var(--border-color);
    border-radius: $radius-s;
    min-height: initial;
    padding: $space-20;
    background-color: var(--card-bg-color);
  }
}

.disconnect-icon {
  width: 100px;
  height: 120px;
  padding: $space-20;
  fill: var(--font-color);
}

.popper-card {
  display: flex;
  word-wrap: break-word;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100px;

  .card-header {
    padding: $space-3;
    margin-bottom: $space-0;
  }

  .card-body {
    padding: $space-3;
  }
}

.card,
.simple-card {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  word-wrap: break-word;
  border: 1px solid var(--border-color);
  border-width: 1px 0 1px 0;
  background-color: var(--card-bg-color);
  margin: $space-0 $space-8;

  &.normal {
    border-width: 1px;
    border-radius: $radius-lg;
  }

  @include lg {
    border-width: 1px;
    border-radius: $radius-lg;
  }

  .card-header {
    padding: $space-16;
    margin-bottom: $space-0;
    border-bottom: 1px solid var(--border-color);

    display: flex;
    align-items: center;

    span {
      color: var(--font-color);
      font-size: $font-size-desktop;
    }

    .card-header-title {
      font-size: $font-size-sm;
      font-weight: 600;
      margin-bottom: $space-0;

      h2 {
        margin: $space-0;
      }
    }
  }

  .card-body {
    padding: $space-12;

    .row-item {
      justify-content: space-between;
      display: flex;

      .meta {
        display: flex;
        flex-direction: column;
        color: var(--sec-font-color);

        .header {
          font-size: $font-size-desktop;
        }

        .timestamp {
          color: var(--font-color);
          font-size: $font-size-xs;
        }
      }

      .txs {
        display: flex;
        flex-direction: column;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 66%;

        > span {
          overflow: hidden;
          text-overflow: ellipsis;

          white-space: nowrap;
          word-break: keep-all;
          font-size: $font-size-sm;
          color: var(--sec-font-color);

          .value {
            color: var(--primary-color);
          }
        }

        a {
          cursor: pointer;
        }
      }
    }

    .hr-space {
      margin-top: $space-12;
      margin-bottom: $space-12;
      opacity: 0.75;
      height: 0;
      border: 0;
      border-top: 1px solid var(--border-color);

      &:last-of-type {
        display: none;
      }
    }
  }
}

.info-hr {
  border: none;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: $space-16;
}

.simple-card {
  margin: $space-0;

  .card-header {
    font-size: $font-size-sm;
  }
}

.loading {
  display: flex;
  justify-content: center;
}

//loader
.v-bounce {
  margin: auto;
}

.v-spinner {
  margin: $space-16 $space-0;
}

//Dividers
.vd-2 {
  height: 2rem;
}

.vd {
  height: 0.5rem;
}

.mb-1 {
  margin-bottom: $space-8;
}

.error-container {
  padding: $space-16;
  border-radius: $radius-lg;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  color: var(--sec-font-color);
}

.base-container {
  padding: $space-16;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-width: 1px 0 1px 0;
  color: var(--sec-font-color);
  margin: $space-0 $space-10;
  border-radius: $radius-lg;
  border-width: 1px;

  @include lg {
    margin: $space-0;
  }
}

#main-content table.net-table {
  border-color: var(--border-color) !important;
  background-color: var(--bg-color);

  thead th {
    color: var(--font-color);
    font-size: $font-size-sm;
    background: var(--bg-color);
    border-color: var(--border-color);

    &:first-of-type {
      border-radius: $radius-s 0 0 0;
    }

    &:last-of-type {
      border-radius: 0 $radius-s 0 0;
    }
  }

  tbody tr {
    td {
      font-size: $font-size-sm;
      color: var(--sec-font-color);
      border-color: var(--border-color);
      vertical-align: middle;
    }

    &.clickable {
      &:hover {
        background-color: var(--card-bg-color);
      }
    }
  }
}

.vgt-wrap {
  overflow: auto;

  .vgt-inner-wrap {
    border-radius: $radius-none;
  }
}

.vgt-wrap__footer {
  font-size: $font-size-sm !important;
  border-top: none !important;
  border: none !important;
  border-top: 1px solid !important;
  border-color: var(--border-color) !important;
  background: var(--bg-color) !important;
}

.vgt-wrap__footer .footer__navigation__page-btn {
  .chevron::after {
    border-left-color: var(--border-color) !important;
    border-right-color: var(--border-color) !important;
  }

  &:hover {
    color: var(--sec-font-color);

    .chevron::after {
      border-left-color: var(--primary-color) !important;
      border-right-color: var(--primary-color) !important;
    }
  }
}

.vgt-table thead th {
  color: var(--font-color);
  vertical-align: middle !important;

  span {
    font-size: $font-size-sm !important;
  }
}

.vgt-table {
  border: none !important;

  .td-center {
    text-align: center;
  }

  .th-center {
    text-align: center;
    padding-right: 10.5px;
  }
}

.vgt-table:not(.node-table) > tbody > tr:last-child td {
  border-bottom: none !important;
}

.vgt-table.node-table .table-row {
  height: 42px;
}

.vgt-wrap .vgt-global-search {
  background: transparent;
  border: none;

  form label {
    display: none;
  }

  form input {
    margin: $space-4 $space-10;
    border: 1px solid var(--border-color) !important;
    background-color: transparent;
    color: var(--font-color);

    &::placeholder {
      color: var(--font-color);
    }
  }

  .vgt-pull-right {
    display: none;
  }

  .vgt-global-search__input {
    padding-left: $space-0;
  }
}

.vgt-table thead th.sorting-desc button:before,
.vgt-table thead th.sorting-asc button:after {
  border-top-color: var(--primary-color) !important;
  border-bottom-color: var(--primary-color) !important;
}

.table-asset-icon,
.asset-icon {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: $radius-full;
  margin-right: $space-8;

  &.synth {
    border: 2px solid var(--primary-color);
  }
}

.table-icon {
  width: 1rem;
  height: 1rem;
  fill: currentColor;
  cursor: pointer;

  &:hover,
  &.active {
    fill: var(--primary-color);
  }
}

.btn-icon {
  display: flex;
  width: 1.2rem;
  height: 1.2rem;
  fill: var(--font-color);
  cursor: pointer;

  &:hover,
  &.active {
    fill: var(--primary-color);
  }
}

.table-wrapper-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  fill: var(--font-color);
  width: 1.5rem;
  height: 1.5rem;
  margin-right: $space-8;

  .header {
    margin-right: $space-3;
  }

  &.active {
    fill: var(--primary-color);
  }
}

.large-icon {
  width: 3rem;
}

.stat-image {
  margin-right: $space-10;
  height: 1.5rem;
}

.header {
  display: flex;
  align-items: center;
}

.cell-content {
  display: flex;
  align-items: center;
}

.flex-cell-content {
  display: flex;
  align-items: center;
  gap: 8px;

  .copy-icon {
    fill: var(--sec-font-color);

    &:hover {
      fill: var(--primary-color);
    }
  }
}

.sec-color {
  color: var(--sec-font-color);
}

//bubble container
.bubble-container,
.mini-bubble {
  display: inline-flex;
  font-weight: bold;
  font-size: $font-size-sm;
  padding: $space-2 $space-5;
  justify-content: center;
  align-items: center;
  color: var(--bubble-font-color);
  border-radius: $radius-sm;
  background-color: #81c784;
  color: #1b5e20;
  line-height: 1;

  &.hoverable {
    cursor: pointer;

    &:hover {
      background-color: #466d48;
    }
  }

  &.blue {
    background-color: #29b6f6;
    color: #01579b;
  }

  &.green {
    background-color: #81c784;
    color: #1b5e20;
  }

  &.orange {
    border: 1px solid #ffa96b4b;
    color: #ffa86b;
    background-color: transparent;
  }

  &.yellow {
    background-color: #ffee58;
    color: #f57f17;

    &.hoverable {
      cursor: pointer;

      &:hover {
        color: #f57f17;
        background-color: #6b5000;
      }
    }
  }

  &.red {
    background-color: #ef5350;
    color: #fff;
  }

  &.white {
    border: 1px solid #eee;
    background-color: #eee;
    color: #000;
  }

  &.black {
    color: #fff;
    background-color: #000;
  }

  &.grey {
    color: var(--font-color);
    background-color: var(--active-bg-color);
  }
}

.mini-bubble {
  font-size: $font-size-xs;
  border-radius: $radius-2xl;
  color: rgb(3 84 63);
  fill: rgb(3 84 63);
  background-color: rgb(222 247 236);

  &.big {
    font-size: $font-size-sm;
  }

  &.yellow {
    color: rgb(114 59 19);
    fill: rgb(114 59 19);
    background-color: rgb(253 246 178);
    border: 1px solid rgba(255, 156, 8, 0.25);
  }

  &.danger {
    color: rgb(155 28 28);
    fill: rgb(155 28 28);
    background-color: rgb(253 232 232);
    border: 1px solid rgba(255, 33, 8, 0.25);
  }

  &.info {
    color: rgb(30 66 159);
    fill: rgb(30 66 159);
    background-color: rgb(225 239 254);
    border: 1px solid rgba(47, 138, 245, 0.16);
  }
}

[theme='dark'],
[theme='BlueElectra'] {
  .mini-bubble {
    color: #21c187;
    fill: #21c187;
    background-color: rgba(51, 119, 107, 0.25);
  }

  .mini-bubble.yellow {
    color: #ffc700;
    fill: #ffc700;
    background-color: transparent;
    border: 1px solid rgba(255, 156, 8, 0.25);
  }
  .mini-bubble.orange {
    border: 1px solid #ffa96b4b;
    color: #ffa86b;
    background-color: transparent;
  }

  .mini-bubble.danger {
    color: #f04832;
    fill: #f04832;
    background-color: transparent;
    border: 1px solid rgba(255, 33, 8, 0.25);
  }

  .mini-bubble.info {
    color: rgb(47, 138, 245);
    fill: rgb(47, 138, 245);
    background-color: transparent;
    border: 1px solid rgba(47, 138, 245, 0.16);
  }

  .mini-bubble.white {
    border: 1px solid #eee;
    background-color: #eee;
    color: #000;
  }

  .mini-bubble.black {
    color: #fff;
    background-color: #000;
  }

  .mini-bubble.grey {
    color: var(--font-color);
    background-color: var(--active-bg-color);
  }
}

//extra text
.extra-text {
  font-family: 'ProductSans';
  font-size: $font-size-xs;
}

.utility {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: $space-10;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: $space-5;
  border-radius: $radius-s;
  background-color: var(--bg-color);
  margin: $space-10 $space-0;

  &:hover {
    background-color: var(--active-bg-color);
  }

  .icon-name {
    color: var(--sec-font-color);
    font-size: $font-size-xxs;
    margin-right: $space-5;
  }
}

.chart-inner-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include lg {
    flex-direction: row;
  }

  > div {
    @include lg {
      width: calc(50% - 10px);
    }
  }
}

@include lg {
  .chart-inner-container {
    flex-direction: row;
  }
}

.vgt-table tr th.line-numbers {
  background: var(--bg-color);
  color: var(--font-color);
  border-color: var(--border-color);
}

//Tooltip css
.tooltip-header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: $space-5;
  gap: 5px;
}

.tooltip-body {
  margin-top: $space-5;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;

  > span {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
  }

  .tooltip-interface-icon {
    margin: $space-0 $space-5;
    height: 1rem;
  }
}

.series-name-color {
  display: flex;
  gap: 8px;
  align-items: center;
}

.tooltip-total {
  padding-top: $space-3;
  margin-top: $space-5;
  border-top: 1px solid var(--border-color);
}

.tooltip-item {
  display: flex;
  align-items: center;
  gap: 3px;

  &.space {
    justify-content: space-between;
  }
}

.data-color {
  width: 10px;
  height: 10px;
  border-radius: $radius-full;
}

//Button Style
.button-container {
  background: var(--card-bg-color);
  border-radius: $radius-lg;
  border: 1px solid var(--border-color);
  font-size: $font-size-s;
  padding: $space-8 $space-16;
  cursor: pointer;
  color: var(--sec-font-color);

  &:hover {
    color: var(--primary-color);
    background-color: var(--darker-bg);
  }
}

//transitions
.fade-enter-active,
.fade-leave-active {
  transition: all 0.2s;
  transform: translateY(0);
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

.fade-up-enter-active,
.fade-up-leave-active {
  transition: all 0.2s;
  transform: translateY(0);
}

.fade-up-enter,
.fade-up-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}

.break {
  flex-basis: 100%;
  height: 0;
}

// Pagination
.pagination.b-pagination {
  display: flex;
  list-style: none;
  border-radius: $radius-lg;
  padding: $space-0 $space-10;

  @include lg {
    padding: $space-0;
  }

  &.center {
    justify-content: center;
  }

  .page-item {
    display: flex;
    align-items: center;

    .page-link {
      background-color: var(--card-bg-color);
      padding: $space-5 $space-8;
      border: 1px solid var(--border-color);
      color: var(--sec-font-color);
      font-family: 'Roboto Mono';
    }

    [type='button']:not(:disabled),
    button:not(:disabled) {
      cursor: pointer;

      &:hover {
        background-color: var(--active-bg-color);
        color: var(--primary-color);
        border-color: var(--primary-color);
      }
    }

    &.active .page-link {
      color: var(--primary-color);
    }

    &.disabled .page-link {
      color: #6c757d;
    }
  }
}

// Spinner
.simple-spinner {
  width: 26px;
  height: 26px;
  border: 3px solid var(--sec-font-color);
  border-radius: $radius-full;
  border-top-color: var(--card-bg-color);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.no-min {
  min-height: auto !important;
}

.danger-text {
  color: #f04832 !important;
}

.hoverable {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    fill: var(--primary-color);
    color: var(--primary-color);
  }
}

.external-link {
  display: flex;
  align-items: center;
  gap: 5px;

  .asset-icon {
    fill: currentColor;
    width: 0.7rem;
    height: 0.7rem;
  }
}

// Transaction table wrapping
.vgt-wrap {
  tbody {
    white-space: nowrap !important;
  }
}

#vgt-table.net-table tbody {
  tr.table-row {
    &:hover {
      background-color: var(--darker-bg) !important;

      th {
        background-color: var(--darker-bg) !important;
      }
    }

    &.highlight {
      td,
      th,
      td span span,
      .table-wrapper-row,
      a {
        fill: var(--highlight) !important;
        color: var(--highlight) !important;
        font-weight: bold;
      }
    }

    &.churning-out {
      background-color: var(--red-bg);

      th {
        background-color: var(--red-bg);
      }
    }

    &.churning-in {
      background-color: var(--blue-bg);

      th {
        background-color: var(--blue-bg);
      }
    }
  }
}

#vgt-table > thead > tr > th {
  padding-right: $space-12;

  &.sortable {
    button {
      &::after,
      &::before {
        display: none;
      }
    }

    &.sorting {
      padding-right: $space-24;
      span {
        color: var(--primary-color);
      }
    }

    &.sorting-asc {
      button::after {
        margin-top: -3px;
        display: block;
      }
    }

    &.sorting-desc {
      button::before {
        margin-top: -3px;
        display: block;
      }
    }
  }
}

#vgt-table > thead > tr > th.no-padding {
  padding: $space-0;
  width: 32px !important;
}

#vgt-table > thead > tr > th.min-padding {
  padding: $space-0 $space-5;
}

a {
  color: var(--sec-font-color);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color);
  border-radius: $radius-xs;
}

::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
  border-radius: $radius-xs;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--border-color);
}

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--border-color) var(--bg-color);
}
