.v-popper--theme-dropdown,
.v-popper--theme-menu,
.v-popper--theme-tooltip {
  &:focus-visible {
    outline: none;
  }
}

.v-popper--theme-dropdown .v-popper__inner,
.v-popper--theme-menu .v-popper__inner,
.v-popper--theme-tooltip .v-popper__inner {
  font-family: 'Montserrat', sans-serif;
  font-size: $font-size-sm;
  color: var(--sec-font-color);
  background-color: var(--bgt-color);
  padding: $space-10;
  border: 1px var(--border-color) solid;
  border-radius: $radius-lg;
  outline: none;
  backdrop-filter: blur(5px);
  margin: 1px;
}

.v-popper--theme-dropdown .v-popper__arrow-outer,
.v-popper--theme-menu .v-popper__arrow-outer,
.v-popper--theme-tooltip .v-popper__arrow-outer,
.v-popper--theme-dropdown .v-popper__arrow-inner,
.v-popper--theme-menu .v-popper__arrow-inner,
.v-popper--theme-tooltip .v-popper__arrow-inner {
  border-color: var(--border-color);
}

// Test echarts tooltip
.echarts > div:nth-of-type(2) {
  background-color: var(--bgt-color) !important;
  backdrop-filter: blur(8px);
  box-shadow: none;
}
