$font-size-desktop : 16px;
$font-size-mobile: 15px;
$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-s: 13px;
$font-size-sm: 14px;
$font-size-smm: 17px;
$font-size-md: 18px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-xxl: 32px;

// Border Radius Variables
$radius-none: 0;
$radius-xs: 2px;
$radius-sm: 4px;
$radius-s: 5px;
$radius-md: 6px;
$radius-lg: 8px;
$radius-2lg: 10px;
$radius-xl: 12px;
$radius-2xl: 16px;
$radius-full: 9999px;

// Spacing Variables (Margin & Padding)
$space-0: 0;
$space-2: 2px;
$space-3: 3px;
$space-4: 4px;
$space-5: 5px;
$space-6: 6px;
$space-8: 8px;
$space-10: 10px;
$space-12: 12px;
$space-14: 14px;
$space-16: 16px;
$space-18: 18px;
$space-20: 20px;
$space-24: 24px;
$space-32: 32px;
$space-40: 40px;
$space-48: 48px;
$space-64: 64px;
