$font-size-desktop: 16px;
$font-size-mobile: 15px;
$font-size-xs: 12px;
$font-size-s: 13px;
$font-size-sm: 14px;
$font-size-smm:17px;
$font-size-md: 18px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-xxl: 32px;